/**
 * @file ./src/styles/footer.less
 * @description
 * Our footer styles, including all license formating.
 */

.footer-wrapper {
    margin-top: 48px;

    .license-wrapper {
        .license-badge {
            float: left;
        }

        .license-text {
            padding-top: 3px;
            margin-left: 92px;
            font-size: 0.7em;
            color: @color-text-lighter;
        }
    }
}