/**
 * @file src/styles/footer.less
 */

.footer-wrapper {
    .layoutCentered();
    max-width: @size-layoutWidth;
    padding: @size-marginBase 0;

    .footer {
        .cleared();
    }

    .license-wrapper {
        .fontSmallest();

        .license-badge {
            float: left;
            margin-right: 15px;
            border: 0;
        }
    }
}