/**
 * @file src/styles/header.less
 * @description
 *      Our stylesheet fragment that governs the header and log styles.
 */
.header-wrapper {
    .layoutCentered();
    width: @size-headerWidth;
    padding: @size-marginBase 0;

    .header {
        .cleared()
    }

    .logo-wrapper,
    .nav-wrapper {
        float: left;
    }

    .logo-wrapper {
        margin-right: @size-marginBase * 1;

        .logo {
            display: block;
            height: @size-logoHeight;
            width: @size-logoWidth;
            background: @color-bodyBg url('../images/logo.png') left top no-repeat;
            background-size: cover;
            .textHidden();
        }

        .description {
            .cleared();
            color: @color-textLight;
            font-style: italic;
            line-height: 3em;
        }
    }

    //
    // Nav styles
    //
    .nav-wrapper {
        float: right;
        margin-top: -13px;
        white-space: nowrap;

        a {
            .blocked(@size-navLinkWidth, @size-navLinkHeight);
            .navStyled();
            padding: 10px 5px 0;
            text-align: center;
        }

        .menu-item {
            position: relative;

            & + .menu-item {
                margin-left: 7px;
            }

            &.current-menu-item {
                a {
                    color: @color-base;

                    &:hover,
                    &:focus {
                        background: transparent;
                    }
                }
            }

            a::before {
                font-family: 'FontAwesome';
                .fontLarger(1em);
                display: block;
                margin-bottom: -20px;
            }

            &.blog a::before    { content: '\f040'; }
            &.podcast a::before { 
                content: '\f130'; 
                // special tweaks to the podcast icon for the way it sits
                // relative to the other icons
                margin-top: 2px;
                margin-bottom: -22px;
            }
            &.twitter a::before { content: '\f099'; }
            &.youtube a::before { content: '\f16a'; }
        }
    }

    .menu-header-menu-container {
        .listInlined();
    }
}
